body {
  font-size: 80px;
  background-color: #000;
  color: #fff;
  margin: 0;
}

div span {
  visibility: hidden;
}

div:hover span {
  visibility: visible;
}

.scene {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}

.start {
  align-self: flex-start;
}

.end {
  align-self: flex-end
}

.small {
  font-size: 20px;
}

.big {
  font-size: 80px;
}
