h1 {
  color: darkgreen;
  font-family: monospace;
  font-size: 200px;
}

a {
  font-weight: bold;
  text-decoration-style: wavy;
  color: red;
}

.small {
  font-size: 10px;
}

.primary {
  color: hsl(38.8, 100%, 50%);
}

.first {
  border-color: blue;
  border-style: dashed;
  border-width: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.second {
  border: blue dashed 10px;
  margin: 20px;
  padding: 20px;
}

.second:hover {
  border: red solid 10px;
}

article {
  font-size: 40px;
}

article span {
  font-size: 20px;
}

p {
  margin: 0;
}

p + p {
  margin-top: 40px;
}

article:hover span {
  font-size: 100px;
}

article {
  color: green;
}

.sample {
  color: orange;
}

.sample:hover {
  color: red;
}
